@use "assets/variables" as *;
@use "bar/left.scss";
@use "bar/center.scss";
@use "bar/right.scss";
@use "quicksettings/audio.scss";

* {
  font-family: Inter;
  font-weight: 600;
}

window {
  margin-top: 3px;
  background-color: transparent;
  border-radius: 16px;
}

.panel-button {
  border-radius: 16px;

  &.active {
    background-color: $nord8;
    font-weight: 900;
    transition-duration: 300ms;
  }
}

button {
  // margin: 0 4px;
  font-weight: 900;
  font-size: 1.2em;
  border: none;
  background: transparent;
  border-radius: 10%;
  min-width: 20px;
  // min-height: 20px;
}
