@use "../assets/variables" as *;

.center {
}

.window__title {
  background: $nord0;
  color: $nord4;
  border-radius: 16px;
  padding: 0 16px;
  font-weight: 700;
}

.window__empty {
  padding: 0;
  background: transparent;
}
